<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>teakandwalnut</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body class="main_bg_bg">

<!-- Navigation -->

<header class="navbar main_navigation navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="modal" data-target="#mobile_navi"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#"><img src="img/teakandwalnut.png" class="brand_logo"></a> </div>
    <div class="modal fade" id="mobile_navi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog mobiel_navigation" role="document">
        <div class="modal-content">
          <div class="mobile_navi_close">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="list-group panel small_text "> <a href="#Living" class="list-group-item" data-toggle="collapse" data-parent="#Living">Living <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> </a>
            <div class="collapse pos-absolute" id="Living"> <a href="#Living_submenu1" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Living_submenu1">SHOP BY TYPE <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Living_submenu1"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu1">Coffee Table</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu1">Easy Chair</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu1">Arm Chair</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu1">Ottoman and Accent Chair</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu1">Bench</a> </div>
              <a href="#Living_submenu2" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Living_submenu2">POPULAR COLLECTION <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Living_submenu2"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu2">Butterfly collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu2">Accent Collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu2">Yarn collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Living_submenu2">Live Edge Collection</a> </div>
            </div>
            <a href="#Bedroom" class="list-group-item" data-toggle="collapse" data-parent="#Bedroom">Bedroom <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> </a>
            <div class="collapse pos-absolute" id="Bedroom"> <a href="#Bedroom_submenu1" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Bedroom_submenu1">SHOP BY TYPE <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Bedroom_submenu1"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu1">King Bed</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu1">Queen Bed</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu1">Night Stand</a> </div>
              <a href="#Bedroom_submenu2" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Bedroom_submenu2">POPULAR COLLECTION <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Bedroom_submenu2"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu2">Bugle Collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu2">Blackadore Collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu2">Lunetto collections</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Bedroom_submenu2">Leather Collection</a> </div>
            </div>
            <a href="#Dining" class="list-group-item" data-toggle="collapse" data-parent="#Dining">Dining <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> </a>
            <div class="collapse pos-absolute" id="Dining"> <a href="#Dining_submenu1" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Dining_submenu1">SHOP BY TYPE <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Dining_submenu1"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu1">Dining Set - 6 seater</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu1">Dining Table - 6 Seater</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu1">Dining Set - 4 Seater</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu1">Dining Chair</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu1">Bench</a> </div>
              <a href="#Dining_submenu2" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Dining_submenu2">POPULAR COLLECTION <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Dining_submenu2"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu2">Savoy Collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu2">Live Edge Collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu2">Digue Collections</a> </div>
            </div>
            <a href="#Outdoor" class="list-group-item" data-toggle="collapse" data-parent="#Outdoor">Outdoor <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> </a>
            <div class="collapse pos-absolute" id="Outdoor"> <a href="#Outdoor_submenu1" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Outdoor_submenu1">SHOP BY TYPE <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Outdoor_submenu1"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Outdoor_submenu1">Mesh Chair</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Outdoor_submenu1">Wire Chair</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Outdoor_submenu1">Metal Plain Chair</a> </div>
              <a href="#Outdoor_submenu2" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Outdoor_submenu2">POPULAR COLLECTION <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Outdoor_submenu2"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu2">Cross Wire Collection</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu2">Metal Collections</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Dining_submenu2">Digue Collections</a> </div>
            </div>
            <a href="#Collection" class="list-group-item" data-toggle="collapse" data-parent="#Collection">Collection <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span> </a>
            <div class="collapse pos-absolute" id="Collection"> <a href="#Collection_submenu2" class="list-group-item sub-item" data-toggle="collapse" data-parent="#Collection_submenu2">POPULAR COLLECTION <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
              <div class="collapse list-group-submenu" id="Collection_submenu2"> <a href="#" class="list-group-item sub-sub-item" data-parent="#Collection_submenu2">Butterfly Collections</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Collection_submenu2">Accent Collections</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Collection_submenu2">Yarn Collections</a> <a href="#" class="list-group-item sub-sub-item" data-parent="#Collection_submenu2">Live Edge Collections</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav hidden-sm  hidden-xs">
        <li class="dropdown menu-large"> <a href="#" class="dropdown-toggle navi_font_wight main_navi" data-toggle="dropdown">Living <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu ">
            <div class="container">
              <div class="megamenu" >
                <div class="row">
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">SHOP BY TYPE</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Coffee Table</a></li>
                      <li><a class=" small_text sub_menu" href="#">Easy Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Arm Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Ottoman and Accent Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Bench</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">POPULAR COLLECTION</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Butterfly collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Accent Collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Yarn collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Live Edge Collection</a></li>
                    </ul>
                    <div class="groups-wrapper"> </div>
                  </li>
                  <!---  <li class="col-sm-4">
            </li>  -----> 
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li class="dropdown menu-large"> <a href="#" class="dropdown-toggle navi_font_wight main_navi" data-toggle="dropdown">Bedroom <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu ">
            <div class="container">
              <div class="megamenu" >
                <div class="row">
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">SHOP BY TYPE</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Coffee Table</a></li>
                      <li><a class=" small_text sub_menu" href="#">Easy Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Arm Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Ottoman and Accent Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Bench</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">POPULAR COLLECTION</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Butterfly collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Accent Collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Yarn collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Live Edge Collection</a></li>
                    </ul>
                    <div class="groups-wrapper"> </div>
                  </li>
                  <!---  <li class="col-sm-4">
            </li>  -----> 
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li class="dropdown menu-large"> <a href="#" class="dropdown-toggle  navi_font_wight main_navi" data-toggle="dropdown">Dining <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu ">
            <div class="container">
              <div class="megamenu" >
                <div class="row">
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">SHOP BY TYPE</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Coffee Table</a></li>
                      <li><a class=" small_text sub_menu" href="#">Easy Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Arm Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Ottoman and Accent Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Bench</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">POPULAR COLLECTION</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Butterfly collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Accent Collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Yarn collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Live Edge Collection</a></li>
                    </ul>
                    <div class="groups-wrapper"> </div>
                  </li>
                  <!---  <li class="col-sm-4">
            </li>  -----> 
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li class="dropdown menu-large"> <a href="#" class="dropdown-toggle navi_font_wight main_navi" data-toggle="dropdown">Collection <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu ">
            <div class="container">
              <div class="megamenu" >
                <div class="row">
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">SHOP BY TYPE</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Coffee Table</a></li>
                      <li><a class=" small_text sub_menu" href="#">Easy Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Arm Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Ottoman and Accent Chair</a></li>
                      <li><a class=" small_text sub_menu" href="#">Bench</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-4">
                    <ul>
                      <li class="dropdown-header small_text">POPULAR COLLECTION</li>
                      <li class="divider"></li>
                      <li><a class=" small_text sub_menu" href="#">Butterfly collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Accent Collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Yarn collection</a></li>
                      <li><a class=" small_text sub_menu" href="#">Live Edge Collection</a></li>
                    </ul>
                    <div class="groups-wrapper"> </div>
                  </li>
                  <!---  <li class="col-sm-4">
            </li>  -----> 
                </div>
              </div>
            </div>
          </ul>
        </li>
      </ul>
      <ul class="sticky-icon-group">
        <li class="sticky-search"> <a href="#toggle-search" class="animate"><i class="icon_search"></i></a> </li>
        <li class="sticky-cart dropdown"><a id="shopping_cart" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon_handbag"></i> </a>
          <div class="dropdown-menu cart_open" aria-labelledby="shopping_cart">
            <p class="no-items-in-cart small_text heading_color">You have no items in your shopping cart.</p>
          </div>
        </li>
        <li class="settings dropdown"><a id="account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon_account"></i></a>
          <div class="dropdown-menu cart_open account_dropdown" aria-labelledby="account">
            <ul>
              <li> <a href="#"><i class="icon_account"></i><span>Sign In / Register</span></a> </li>
              <li> <a href="#"><i class="icon_handbag"></i><span>My Cart</span></a> </li>
            </ul>
          </div>
        </li>
      </ul>
      
      <div class="search_box animate">
        <div class="container">
          <form class="search" action="#" role="search">
            <div class="input-group">
              <input id="search" type="text" name="q" value="" class="input-text" maxlength="180" placeholder="Type &amp; Hit Enter..." autocomplete="off">
              <span class="input-group-btn">
              <button class=" btn remove_search" type="reset"><i aria-hidden="true" class="fa fa-times"></i></button>
              </span> </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="breadcrumb_bg heading_bg other_text_color">
          <div class="row">
            <div class="col-xs-12">
              <ul>
                <li class="large_text"><a href="#">LIVING</a></li>
                <li class="large_text">BUTTERFLY CHAIR </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="row product_padding">
      <div id="content" class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <div class="product-img-box ">
          <div class="product-image-wrap">
            <div class="product-image product-image-zoom"> 
             
              <div class="product-image-gallery"> 
              
                <img class="img-responsive" src="img/img_0284.jpg" alt="Franz  Natural Coffee Table"> 
              
                <img class="img-responsive" src="img/img_0282_copy_3.jpg" alt="Franz  Natural Coffee Table"> 
               
                <img class="img-responsive" src="img/img_0308.jpg" alt="Franz  Natural Coffee Table"> 
                
                <img class="img-responsive" src="img/img_0302.jpg" alt="Franz  Natural Coffee Table"> 
             
                <img class="img-responsive" src="img/img_0329.jpg" alt="Franz  Natural Coffee Table"> 
               
                <img class="img-responsive" src="img/dimensions_copy_2.jpg" alt="Franz  Natural Coffee Table"> </div>
            </div>
   
          </div>
            </div>
      </div>
      <aside id="sidebar" class=" col-xs-12 col-sm-12 col-md-4 col-lg-3 product_options sticky">
        <div  class="product-shop-view  ">
        <form>
        <div class="product_name option_block">
      <h3 class="small_text bold_font">FRANZ NATURAL COFFEE TABLE</h3>
      </div>
      <div class="finish option_block">
  <p class="small_text">FINISH</p>
  <label>
    <input type="radio" name="fb" value="big"/>
    <img width="40px" height="40px" src="img/img_0302.jpg">
  </label>
  
  <label>
    <input id="fb3" type="radio" name="fb" value="med" />
    <img  width="40px" height="40px" src="img/img_0302.jpg">
  </label>
  
  <label>
    <input id="fb4" type="radio" name="fb" value="long" />
    <img width="40px" height="40px"  src="img/img_0302.jpg">
  </label>
      
      </div>
      
      <div class="finish option_block">
  <p class="small_text">FINISH</p>
  <label>
    <input id="King" type="radio" name="size" value="king" checked/>
    <span class="size_radio">King</span>
  </label>
  
  <label>
    <input id="Queen" type="radio" name="size" value="queen" />
    <span class="size_radio">Queen</span>
  </label>

      </div>
      
      <div class="option_block price_option small_text">
      <label for="Get_it_Now">
    <input type="radio" value="Get_it_Now" name="quality" id="Get_it_Now" checked> <span class="price_option_label">Get it Now </span><span class="price number">&#8377; 19000.00</span> <span class="dropdown price_info_btn"><a id="getitnow" type="button" class="midd_text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <i class="fa fa-info-circle"></i>
  </a>
  <div class="dropdown-menu price_info" aria-labelledby="getitnow">
 <h1 class="midd_text heading_color">Get it Now </h1> 
     <p class="small_text heading_color"> Buy it from our already available stock and we deliver it within 3-5 days.</p>
   <a href="#myModal" class="extra_text_color" data-toggle="modal" data-target="#myModal">Know More </a>

  </div>
  </span>

  </label>

  <label for="Get_it_Made">
    <input type="radio" value="Get_it_Made" name="quality" id="Get_it_Made"> <span class="price_option_label">Get it Made </span><span class="price number">&#8377; 19000.00</span><span class="dropdown price_info_btn"><a id="getitmade" type="button" class="midd_text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <i class="fa fa-info-circle"></i>
  </a>
  <div class="dropdown-menu price_info" aria-labelledby="getitmade">
 <h1 class="midd_text heading_color">Get it Made </h1> 
     <p class="small_text heading_color"> Buy it from our already available stock and we deliver it within 3-5 days.</p>
   <a href="#myModal" class="extra_text_color" data-toggle="modal" data-target="#myModal">Know More </a>

  </div>
  </span>
    
  </label>

  
      
      </div>
      <div class="option_block emi_option">
  
         <a href="#content-div" class="fancybox emi_button">EMI Option Available</a>
     
      
      </div>
      
      <div class="add-to-cart addtocart option_block">
 
                    <div class="qty">
                <div class="custom-qty reduced">
                    <button type="button" class="items  items-count" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text number">

                <div class="custom-qty increase">
                    <button type="button" class="items items-count" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        	 <div class="add-to-cart-buttons">
           <button type="button" title="Add to Cart" class="button black_btn">
  <span>Add to Cart</span>
	</button>
		  	
	</div>
	
      
    </div>
    
    
    <div class="option_block">
    <p class="small_text heading_color">Check Delivery Availability</p>
    
    <div class="product-tabs-content" id="product_tabs_delivery_contents">
                                <div class="product-tabs-content-inner clearfix">
                                    <input name="zipcode" size="6" type="text" id="zipcode" minlength="6" maxlength="6" class="input-text input_box1 validate-length maximum-length-6 minimum-length-6 validate-digits number" placeholder="Enter ZIP Code">
                                    <button type="button" name="zip-check" title="Check" class="button black_btn" id="zip-check"><span>Check</span></button>
                                    
                                </div>
                            </div>
    
    
    </div>
    
    <div class="option_block">
    	<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title small_text heading_color">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-plus"></span>
          TW Tweet
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body small_text heading_color">
      <p>
        Our butterfly is the monarch, ruling again in iconic style. Top-grain, full-aniline, vegetable-tanned leather hides hand-stitched in quadrants and hand-laced at the edges read pure vintage with a warm, natural saddle glow. Displayed in all its glory on a powder coated iron frame (it doesn't fold…it's here to stay).</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title small_text heading_color">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <span class="glyphicon glyphicon-plus"></span>
         Specification
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body small_text heading_color">
   
                                            <p><span style="text-decoration: underline;"><strong>Finish</strong></span><strong>: </strong>Brown, and White<strong><span style="text-decoration: underline;"><br></span></strong><strong><span style="text-decoration: underline;">Sku Number</span> :&nbsp;</strong>LCLBrown7782<strong><br><span style="text-decoration: underline;">Dimension</span>&nbsp;:</strong>&nbsp;Please refer to the last image</p><br>
<p><span style="text-decoration: underline;"><strong>Note</strong></span><strong> :</strong>&nbsp; Leather will lighten and soften with both use and time and develop a rich patina.&nbsp;</p>                                       
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title small_text heading_color">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <span class="glyphicon glyphicon-plus"></span>
          Warranty and Care
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body small_text heading_color">
                                            <p><span style="text-decoration: underline;"><strong>Warranty</strong></span><strong> :</strong> We're sure It will live up to your satisfaction throughout, however It comes with a warranty of 1 year.<strong><span style="text-decoration: underline;"><br>Care</span> :</strong><strong>&nbsp;</strong>Under normal usage/conditions, regular dry-cloth dusting and vacuum cleaning in crevices or along the bottom is all that is necessary to clean your furniture. Protect your furniture from direct sunlight..</p>                               
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title small_text heading_color">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
          <span class="glyphicon glyphicon-plus"></span>
         Delivery and Assembly
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse">
      <div class="panel-body small_text heading_color">
                                        <p><span style="text-decoration: underline;"><strong>Get it NOW</strong></span><strong>&nbsp;</strong><strong>:</strong> Orders placed under this option will be delivered in 3-5 Working days as it is shipped from our warehouse.<br><span style="text-decoration: underline;"><strong>Get it Made</strong></span><strong>&nbsp;</strong><strong>:</strong> Orders placed under this option will be delivered in 4-5 Weeks considering the time taken to Manufacture. These orders are delivered to your address directly from the factory.<br><span style="text-decoration: underline;"><strong>Delivery &amp; Assembly</strong></span><strong> :</strong>&nbsp;Yes its free, and will be taken care by the TW Team.</p>                                        
      </div>
    </div>
  </div>
  
</div>
    
    
    </div>
    
    
      
      </form>
      </div>
    </aside>
  </div>
  
  
  <div id="recently_viewed" class="row">
 
     <div class="col-sm-12">
                        
                         <div class="main_heading text-center"> <h3 class="heading_text heading_color">Recently Viewed</h3>
                         <div class=" product_bottom_line">
                        <img src="img/separator.png" class="img-responsive">
                        </div>
            
                    </div>
                        
               <ul class="products-grid row product_bottom_blog">
                     
      <li class="item col-xs-4  col-sm-4 col-md-4col-lg-4 ng-scope" ng-repeat="product in categoryProduct">
        <div class="product-item">
          <div class="product-img-grid ">
            <div class="product-show "> <a ng-href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish" title="Etoree Pouf cum Coffee Table In Blue Finish" class="product-image" href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish"> <span class="front margin-image"> <img id="product-collection-image-367" class="img-responsive lazy" alt="Etoree Pouf cum Coffee Table In Blue Finish" style="display: block;" src="img/etobac4.jpg"> </span> </a> </div>
          </div>
          <div class="top-actions-inner ">
            <h3 class="product-name small_text "><a ng-href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish" title="Etoree Pouf cum Coffee Table In Blue Finish" ng-bind="product.name" class="ng-binding" href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish">Etoree Pouf cum Coffee Table In Blue Finish</a></h3>
          </div>
          <div class="typo-actions clearfix">
            <div class="price-cart-box"> 
           <div class="price-box ">
               <!-- ngIf: product.option_price.length > 0 --><p class="price-from small_text  ng-scope" ng-if="product.option_price.length > 0"><span class="price ng-binding">₹10290</span> - <span class="price ng-binding">₹11990 </span></p><!-- end ngIf: product.option_price.length > 0 -->
              </div>
             </div>
          </div>
        </div>
      </li>
      
      <li class="item col-xs-4  col-sm-4 col-md-4 col-lg-4 ng-scope" ng-repeat="product in categoryProduct">
        <div class="product-item">
          <div class="product-img-grid ">
            <div class="product-show "> <a ng-href="/living/Poufs/Venus-Pouf-In-Grey-Finish" title="Venus Pouf In Grey Finish" class="product-image" href="/living/Poufs/Venus-Pouf-In-Grey-Finish"> <span class="front margin-image"> <img id="product-collection-image-367" class="img-responsive lazy" alt="Venus Pouf In Grey Finish" style="display: block;" src="img/venus3.jpg"> </span> </a> </div>
          </div>
          <div class="top-actions-inner ">
            <h3 class="product-name small_text "><a ng-href="/living/Poufs/Venus-Pouf-In-Grey-Finish" title="Venus Pouf In Grey Finish" ng-bind="product.name" class="ng-binding" href="/living/Poufs/Venus-Pouf-In-Grey-Finish">Venus Pouf In Grey Finish</a></h3>
          </div>
          <div class="typo-actions clearfix">
            <div class="price-cart-box"> 
           <div class="price-box ">
               <!-- ngIf: product.option_price.length > 0 --><p class="price-from small_text  ng-scope" ng-if="product.option_price.length > 0"><span class="price ng-binding">₹9490</span> - <span class="price ng-binding">₹10990 </span></p><!-- end ngIf: product.option_price.length > 0 -->
              </div>
             </div>
          </div>
        </div>
      </li>
      
      
      <li class="item col-xs-4  col-sm-4 col-md-4 col-lg-4 ng-scope" ng-repeat="product in categoryProduct">
        <div class="product-item">
          <div class="product-img-grid ">
            <div class="product-show "> <a ng-href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish" title="Venus Pouf  in Mint Green Finish" class="product-image" href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish"> <span class="front margin-image"> <img id="product-collection-image-367" class="img-responsive lazy" alt="Venus Pouf  in Mint Green Finish" style="display: block;" src="img/mint1.jpg"> </span> </a> </div>
          </div>
          <div class="top-actions-inner ">
            <h3 class="product-name small_text "><a ng-href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish" title="Venus Pouf  in Mint Green Finish" ng-bind="product.name" class="ng-binding" href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish">Venus Pouf  in Mint Green Finish</a></h3>
          </div>
          <div class="typo-actions clearfix">
            <div class="price-cart-box"> 
           <div class="price-box ">
               <!-- ngIf: product.option_price.length > 0 --><p class="price-from small_text  ng-scope" ng-if="product.option_price.length > 0"><span class="price ng-binding">₹5490</span> - <span class="price ng-binding">₹6390 </span></p><!-- end ngIf: product.option_price.length > 0 -->
              </div>
             </div>
          </div>
        </div>
      </li> 
      </ul>
                           
                        
                    </div>
                </div>
            

  
  
  
  <div id="mostviews" class="row">
 
     <div class="col-sm-12">
           
                        
                         <div class="main_heading text-center"> <h3 class="heading_text heading_color">Most Viewed</h3>
                      <div class=" product_bottom_line">
                        <img src="img/separator.png" class="img-responsive">
                        </div>
                    </div>
                        
                       <ul class="products-grid row product_bottom_blog">
                     
      <li class="item col-xs-4  col-sm-4 col-md-4col-lg-4 ng-scope" ng-repeat="product in categoryProduct">
        <div class="product-item">
          <div class="product-img-grid ">
            <div class="product-show "> <a ng-href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish" title="Etoree Pouf cum Coffee Table In Blue Finish" class="product-image" href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish"> <span class="front margin-image"> <img id="product-collection-image-367" class="img-responsive lazy" alt="Etoree Pouf cum Coffee Table In Blue Finish" style="display: block;" src="img/etobac4.jpg"> </span> </a> </div>
          </div>
          <div class="top-actions-inner ">
            <h3 class="product-name small_text "><a ng-href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish" title="Etoree Pouf cum Coffee Table In Blue Finish" ng-bind="product.name" class="ng-binding" href="/living/Poufs/Etoree-Pouf-cum-Coffee-Table-In-Blue-Finish">Etoree Pouf cum Coffee Table In Blue Finish</a></h3>
          </div>
          <div class="typo-actions clearfix">
            <div class="price-cart-box"> 
           <div class="price-box ">
               <!-- ngIf: product.option_price.length > 0 --><p class="price-from small_text  ng-scope" ng-if="product.option_price.length > 0"><span class="price ng-binding">₹10290</span> - <span class="price ng-binding">₹11990 </span></p><!-- end ngIf: product.option_price.length > 0 -->
              </div>
             </div>
          </div>
        </div>
      </li>
      
      <li class="item col-xs-4  col-sm-4 col-md-4 col-lg-4 ng-scope" ng-repeat="product in categoryProduct">
        <div class="product-item">
          <div class="product-img-grid ">
            <div class="product-show "> <a ng-href="/living/Poufs/Venus-Pouf-In-Grey-Finish" title="Venus Pouf In Grey Finish" class="product-image" href="/living/Poufs/Venus-Pouf-In-Grey-Finish"> <span class="front margin-image"> <img id="product-collection-image-367" class="img-responsive lazy" alt="Venus Pouf In Grey Finish" style="display: block;" src="img/venus3.jpg"> </span> </a> </div>
          </div>
          <div class="top-actions-inner ">
            <h3 class="product-name small_text "><a ng-href="/living/Poufs/Venus-Pouf-In-Grey-Finish" title="Venus Pouf In Grey Finish" ng-bind="product.name" class="ng-binding" href="/living/Poufs/Venus-Pouf-In-Grey-Finish">Venus Pouf In Grey Finish</a></h3>
          </div>
          <div class="typo-actions clearfix">
            <div class="price-cart-box"> 
           <div class="price-box ">
               <!-- ngIf: product.option_price.length > 0 --><p class="price-from small_text  ng-scope" ng-if="product.option_price.length > 0"><span class="price ng-binding">₹9490</span> - <span class="price ng-binding">₹10990 </span></p><!-- end ngIf: product.option_price.length > 0 -->
              </div>
             </div>
          </div>
        </div>
      </li>
      
      
      <li class="item col-xs-4  col-sm-4 col-md-4 col-lg-4 ng-scope" ng-repeat="product in categoryProduct">
        <div class="product-item">
          <div class="product-img-grid ">
            <div class="product-show "> <a ng-href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish" title="Venus Pouf  in Mint Green Finish" class="product-image" href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish"> <span class="front margin-image"> <img id="product-collection-image-367" class="img-responsive lazy" alt="Venus Pouf  in Mint Green Finish" style="display: block;" src="img/mint1.jpg"> </span> </a> </div>
          </div>
          <div class="top-actions-inner ">
            <h3 class="product-name small_text "><a ng-href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish" title="Venus Pouf  in Mint Green Finish" ng-bind="product.name" class="ng-binding" href="/living/Poufs/Venus-Pouf-in-Mint-Green-Finish">Venus Pouf  in Mint Green Finish</a></h3>
          </div>
          <div class="typo-actions clearfix">
            <div class="price-cart-box"> 
           <div class="price-box ">
               <!-- ngIf: product.option_price.length > 0 --><p class="price-from small_text  ng-scope" ng-if="product.option_price.length > 0"><span class="price ng-binding">₹5490</span> - <span class="price ng-binding">₹6390 </span></p><!-- end ngIf: product.option_price.length > 0 -->
              </div>
             </div>
          </div>
        </div>
      </li> 
      </ul>     
                           
                        
                    </div>
                </div>
         



    
  </div>
</section>


<section id="fetures"  class="">
<div class="container">
<div class="row">

<div class="col-xs-6 col-sm-3 product_feature text-center">
<img class="feature_icon" src="img/truck.png" alt=" ">
<h4 class="feature_heading">Free Home Delivery</h4>
<hr class="feature_line">
<p class="feature_data">Whatever you order, our products ship free. Always.</p>
</div>
  
  
  <div class="col-xs-6 col-sm-3 product_feature text-center">
<img class="feature_icon" src="img/refresh-left-arrow.png" alt=" ">
<h4 class="feature_heading">Easy Returns</h4>
<hr class="feature_line">
<p class="feature_data">No Worries return policy. If you don't like it, we'll take it back.</p>
</div>






<div class="col-xs-6 col-sm-3 product_feature text-center">
<img class="feature_icon" src="img/wallet.png" alt=" ">
<h4 class="feature_heading">C.O.D</h4>
<hr class="feature_line">
<p class="feature_data">You can pay by Cash or Card at the time of delivery</p>
</div>

<div class="col-xs-6 col-sm-3 product_feature text-center">
<img class="feature_icon" src="img/pie-chart.png" alt=" ">
<h4 class="feature_heading">Easy Finance</h4>
<hr class="feature_line">
<p class="feature_data">Pay via EMIs on credit cards or
avail interest-free loans. <a href="#">More</a></p>
</div>
  
 <!--- <div class="col-xs-6 col-sm-4 product_feature text-center">
<img class="feature_icon" src="img/instolation.jpg" alt=" ">
<h4 class="feature_heading">Free Installation</h4>
<hr class="feature_line">
<p class="feature_data">We assemble the product, and clear away the packaging.</p>
</div> --->


 
 
  
  </div>
</div>  
</section>

<footer id="footer" class="other_bg_color">
  <div class="container">
    <div class="row  footer-style">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="information-footer">
          <div class="footer-static">
            <h3 class="midd_text heading_color footer_navi_heading">ABOUT US</h3>
            <ul class="clearfix">
              <li class="footer_info heading_color small_text text_line_hight">Teakandwalnut.com is a one stop online store for those who crave for unique, meaningful and well-designed products.</li>
              <li class="sub_heading_footer">
                <h3 class="midd_text heading_color footer_navi_heading">FOLLOW US ON</h3>
              </li>
              <li>
                <ul class="social_icon">
                  <li> <a class="heading_color small_text" href="https://www.facebook.com/teakandwalnut/?ref=aymt_homepage_panel" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a> </li>
                  <li> <a class="heading_color small_text" href="https://instagram.com/teakandwalnut" target="_blank"><i class="fa fa-instagram">&nbsp;</i></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="information-footer">
          <div class="footer-static">
            <h3 class="midd_text heading_color footer_navi_heading">KNOW BEFORE YOU ORDER</h3>
            <ul >
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/payment-options"><span class="fs1">&nbsp;</span>Payment Option</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/delivery-installation"><span class="fs1">&nbsp;</span>Delivery &amp; Installation </a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/terms-conditions"><span class="fs1">&nbsp;</span>Terms &amp; Conditions</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/privacy-policy"><span class="fs1">&nbsp;</span>Privacy Policy</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/cancellation-policy"><span class="fs1">&nbsp;</span>Cancellation Policy</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/return-refund-policy"><span class="fs1">&nbsp;</span>Return &amp; Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="information-footer">
          <div class="footer-static">
            <h3 class="midd_text heading_color footer_navi_heading">BETWEEN YOU AND US</h3>
            <ul class="clearfix">
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/about-us"><span class="fs1">&nbsp;</span>About Us</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/contact"><span class="fs1">&nbsp;</span>Help/Contact us</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/how-to-care"><span class="fs1">&nbsp;</span>How to care for your furniture</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="information-footer">
          <div class="footer-static">
            <h3 class="midd_text heading_color footer_navi_heading">SUPPORT</h3>
            <ul class="clearfix">
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/faq-accounts-registration"><span class="fs1">&nbsp;</span>Account Registration</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/miscellaneous"><span class="fs1">&nbsp;</span>Miscellaneous</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/faq-cancel-order"><span class="fs1">&nbsp;</span>Cancel Order</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/changing-order"><span class="fs1">&nbsp;</span>Change Order</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/ordering"><span class="fs1">&nbsp;</span>Place Order</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/delivery"><span class="fs1">&nbsp;</span>Delivery</a></li>
              <li class="sub_menu_footer"><a class="heading_color small_text" href="http://teakandwalnut.com/index.php/trackorder"><span class="fs1">&nbsp;</span>Track Order</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="row">
  <div class="col-xs-12">
  <P class="copyright">© 2016 TW. All Rights Reserved.</P>
    
  </div>
  
  
  
  
  </div>
  
  
  </div>
  <!-- /.row --> 
</footer>

<!-- /.container --> 

<!-- jQuery --> 
<script src="js/jquery.js"></script> 
<script>
(function ($) {

    $.fn.stickySidebar = function (options) {

        var config = $.extend({
            headerSelector: 'header',
            navSelector: 'nav',
            contentSelector: '#content',
			recentlyviewed:'#recently_viewed',
			fetures:'#fetures',
			mostviews:'#mostviews',
            footerSelector: 'footer',
            sidebarTopMargin: 20,
            footerThreshold: 40
        }, options);

        var fixSidebr = function () {

            var sidebarSelector = $(this);
            var viewportHeight = $(window).height();
            var viewportWidth = $(window).width();
            var documentHeight = $(document).height();
            var headerHeight = $(config.headerSelector).outerHeight();
            var navHeight = $(config.navSelector).outerHeight();
            var sidebarHeight = sidebarSelector.outerHeight();
            var contentHeight = $(config.contentSelector).outerHeight();
            var footerHeight = $(config.footerSelector).outerHeight();
			
			var feturesHeight = $(config.fetures).outerHeight();
			var mostviewsHeight = $(config.mostviews).outerHeight();
			var recentlyhight = $(config.recentlyviewed).outerHeight();
			
			
            var scroll_top = $(window).scrollTop();
            var fixPosition = contentHeight - sidebarHeight;
            var breakingPoint1 = headerHeight + navHeight;
            var breakingPoint2 = documentHeight - (sidebarHeight + footerHeight + config.footerThreshold + feturesHeight + mostviewsHeight + recentlyhight);

            // calculate
            if ((contentHeight > sidebarHeight) && (viewportHeight > sidebarHeight)) {

                if (scroll_top < breakingPoint1) {

                    sidebarSelector.removeClass('sticky');

                } else if ((scroll_top >= breakingPoint1) && (scroll_top < breakingPoint2)) {

                    sidebarSelector.addClass('sticky').css('top', config.sidebarTopMargin);

                } else {

                    var negative = breakingPoint2 - scroll_top;
                    sidebarSelector.addClass('sticky').css('top', negative);

                }

            }
        };

        return this.each(function () {
            $(window).on('scroll', $.proxy(fixSidebr, this));
            $(window).on('resize', $.proxy(fixSidebr, this))
            $.proxy(fixSidebr, this)();
        });

    };

}(jQuery));

</script>
	<script>
		$(document).ready(function() {
	
			$('#sidebar').stickySidebar({
				sidebarTopMargin: 5,
				footerThreshold: 200
			});
		
		});
		</script>






<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 

<!-- Script to Activate the Carousel --> 



     
<script>

$(document).ready(function () {
    $('#myCarousel').carousel({
        interval: 10000
    })
    $('.fdi-Carousel .item').each(function () {
        var next = $(this).next();
		if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
		
		var next2 = next.next();
		if (!next2.length) {
            next2 = $(this).siblings(':first');
        }
		next2.children(':first-child').clone().appendTo($(this));
		 
		var next3 = next2.next();
		if(!next3.length){
			next3 = $(this).siblings(':first');
		}
		next3.children(':first-child').clone().appendTo($(this));
    });
});

</script>    
     
     
     
     
<script>
$('.collapse').on('shown.bs.collapse', function(){
$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
}).on('hidden.bs.collapse', function(){
$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
});


</script>     
     
  <script>
$('a[href="#toggle-search"], .input-group-btn > .btn[type="reset"]').on("click",function(t){t.preventDefault(),$(" .input-group > input").val(""),$(".search_box").toggleClass("open"),$('a[href="#toggle-search"]').closest("li").toggleClass("active"),$(".search_box").hasClass("open")&&setTimeout(function(){$(".search_box .form-control").focus()},100)});
</script>    
     
<script>
	jQuery(document).ready(function(){
    $(".dropdown").hover(
        function() { $('.dropdown-menu', this).stop().fadeIn("fast");
        },
        function() { $('.dropdown-menu', this).stop().fadeOut("fast");
    });
});


</script>

<style>
.option_block .panel-group .panel-body {
    max-height: 75px;
    overflow-y: scroll;
    padding-top: 5px !IMPORTANT;
}


.option_block .panel-group .panel-body::-webkit-scrollbar-track
{

	border-radius: 10px;
	    background-color: rgba(236, 238, 237, 0.08);
}

.option_block .panel-group .panel-body::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.option_block .panel-group .panel-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #555;
} 



</style>


</body>
</html>
